<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>需要使用本機語音辨識以自動產生影片字幕（不會上傳到網路）。</string>
</dict>
</plist>
